{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Yoda</title>
        <link rel="stylesheet" href="{% static 'style.css'%}">
    </head>
    <body>
        <h1>Baby Yoda</h1>
        {% block body %} {% endblock %}
        <hr>
        &copy; 2020 6g 
    </body>
</html>