body {
    font-family: "Comic Sans MS", Arial, Courier, sans-serif
}
h1 {
    color: #090;
    background-color: #0f0;
    margin: 0;
    margin-bottom: 100px;
    padding: 10px;
    border: solid 1px #000;
    font-size: 55px;
}
img {
    width: 250px;
}
body strong {
    color: #009;
}
.silny {
    color: #900;
}
#nadpis2 {
    color: #888;
}
ul li {
    color: #080;
}
a {
    text-decoration: none;
}
a:hover {
    color: #00f;
    text-decoration: underline;
}